# Node
node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

# Environment variables
.env
backend/.env

# Build outputs
dist
frontend/dist

# Vite
frontend/.vite

# OS
.DS_Store
Thumbs.db

notes.txt
requirement.txt
redis_scaling_guide.md
CodeCollab_Hightlights.md
